In [1]:
import findspark
findspark.init()
from pyspark import SparkContext as sc
import pandas as pd
import os
import numpy as np
from pyspark.sql import SQLContext
import json
import pyspark

#data_path = ['../Data']
#Business_filepath = os.sep.join(['yelp_academic_dataset_business.json'])




#Load Business data
#Business_data = sqlContext.read.json(Business_filepath)

/Users/vinithangadi/.pyenv/versions/3.7.5/lib/python3.7/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [ ]:
#Initializing Spark Context
sc = sc(appName="Yelp")
sqlContext = SQLContext(sc)

In [ ]:
#Reading JSON data
Business_data = sqlContext.read.json(Business_filepath)

In [34]:
Business_data.describe('is_open').show()

+-------+-------------------+
|summary|            is_open|
+-------+-------------------+
|  count|             209393|
|   mean|  0.806631549287703|
| stddev|0.39494029660970476|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [17]:
type(np.array(Business_data.categories.values))

numpy.ndarray

In [30]:
from pyspark.sql.functions import explode
from pyspark.sql.functions import split
from pyspark.sql.functions import col

#Filter out the attributes that you need
#arr_categories = Business_data.loc[:,'categories'].values

Business = Business_data.select(explode(split(col('categories'), "\s+")).alias("category"),Business_data.state,  Business_data.city, Business_data.stars, Business_data.review_count)

#Register as temp table
Business.registerTempTable("Business_Agg")

#Run the SQL Query
result = sqlContext.sql("SELECT Business_Agg.city, Business_Agg.category,\
AVG(Business_Agg.review_count) As AverageReview,\
AVG(Business_Agg.stars) as AverageStars FROM Business_Agg GROUP BY Business_Agg.city, Business_Agg.category")

#saving the result in a csv file
result.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question1')
#Check the result
result.show()

+-------------------+-------------+------------------+------------------+
|               city|     category|     AverageReview|      AverageStars|
+-------------------+-------------+------------------+------------------+
|         Scottsdale|       Health|17.955139125496878| 4.034923339011925|
|          Beachwood|         Arts|             8.875|            4.3125|
|        Scarborough|    Shopping,| 7.475806451612903|3.0524193548387095|
|        Rocky River|     Spirits,|              31.0|             3.625|
|              Parma|(Traditional)|48.285714285714285| 3.357142857142857|
|          East York|      Donuts,|               3.0|               1.5|
|            Phoenix|    Services,|24.197680157946692|3.6712117472852914|
|             Peoria|      Fishing|              29.5|              4.75|
|          Las Vegas|         Vape|24.819875776397517| 4.062111801242236|
|           Glendale|      Massage|15.084745762711865| 4.338983050847458|
|             Peoria|         Nail| 34.08695652173913|3.5942028985507246|
|             Peoria|       Waxing| 45.42857142857143| 3.857142857142857|
|            Toronto|       Books,|13.311475409836065|3.8135245901639343|
|             Oregon| Instruction,|               6.0|               3.0|
|               Mesa|        Shop,|             58.75|               3.5|
|            Phoenix|      Packing| 35.80263157894737|3.6184210526315788|
|          Charlotte|Obstetricians|               9.1|3.1666666666666665|
|     Laveen Village|    Southern,|              11.0|               3.5|
|        Pierrefonds|         Auto|               3.0|2.6666666666666665|
|Saint-Joseph-du-Lac|         Arts|               3.0|               5.0|
+-------------------+-------------+------------------+------------------+
only showing top 20 rows

In [32]:
#Flatten the category array
CategoryExplo = Business_data.select(explode(split(col('categories'), "\s+")).alias("category"),\
                                    Business_data.attributes, Business_data.stars)

#Filter out Mexican and TakeOut
CategoryAtt = CategoryExplo.select(CategoryExplo.attributes.RestaurantsTakeOut.alias("takeout"),\
                                   CategoryExplo.category, CategoryExplo.stars)

CategoryAtt.registerTempTable("CategoryAtt")

#Run the query on the table
MexicanTakeout = "SELECT category, AVG(stars) AS Stars FROM CategoryAtt WHERE category = 'Mexican' \
AND takeout = True GROUP BY category"
RatingMexicanTakeO = sqlContext.sql(MexicanTakeout)

RatingMexicanTakeO.show()

+--------+------------------+
|category|             Stars|
+--------+------------------+
| Mexican|3.3838582677165356|
+--------+------------------+

In [33]:
RatingMexicanTakeO.coalesce(1).write.format('com.databricks.spark.csv').option("header", "true").save('Question3')